{{#if hayProducto }}
                <h2>El producto se agrego perfectamente</h2>
                <img src="adidas-logo.svg" class="img-fluid w-50"/>
{{else}}
                <h2>El producto no se agrego</h2>
                <img src="adidas-logo.svg" class="img-fluid w-50"/>    
       {{/if}}