{{> header}}
<h1>Productos</h1>
{{#if products}}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.image}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No hay productos</p>
{{/if}}
{{> footer}}